// colors
$primary: #3cb2d9;
$main: #1b2430;
$black: #000;
$white: #fff;
$blue700: #259bc2;
$gray50: #f9faff;
$gray100: #e8ecfb;
$gray300: #d0d5dd;
$gray500: #636975;
$green50: #ecfdf3;
$green-brand500: #8ba915;
$green500: #12b76a;
$violet500: #4568dc;
$red50: #fef3f2;
$red500: #f87171;
$red700: #f04438;
// fonts
$mainFont: "Inter", sans-serif;
